{% extends "vhmweb/base.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans "Package" %}: {{ package.name }}</title>
{% endblock %}
{% block body_title %}
<div class="page-header">
    <h1>{{ package.name }}</h1>
</div>
{% endblock %}

{% block content %}
<p><b>{% trans "Description" %}:</b> {{ package.description }}</p>
<p><b>{% trans "File size" %}:</b> {{ package.package.size|filesizeformat }}</p>
{% endblock %}