{% extends "vhmweb/base.html" %}
{% load i18n %}

{% block content %}

{% if packages.exists %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "File size" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for p in packages %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.package.size|filesizeformat }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<p>{% trans "There are no site packages!" %}</p>

{% endif %}

{% endblock %}