{% extends "vhmadmin/base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-4">
        <ul class="nav sidenav">
        {% block sidenav %}
        {% endblock %}
        </ul>
    </div>

    <div class="container">
        {% block list_content %}
        {% endblock %}
    </div>

</div>

{% endblock %}