{% extends "vhmweb/base.html" %}
{% load i18n %}

{% block sitename %}
<a class="navbar-brand" href="{% url 'vhmadmin_index' %}">
    VHM Administrator
</a>
{% endblock %}

{% block topnav %}
    <li><a href="{% url 'vhmadmin_rent_list' %}">{% trans "Rents" %}</a></li>
    <li><a href="{% url 'vhmadmin_user_list' %}">{% trans "Users" %}</a></li>
    <li><a href="{% url 'vhmadmin_group_list' %}">{% trans "Groups" %}</a></li>
    <li><a href="{% url 'vhmadmin_vhost_list' %}">{% trans "VirtualHosts" %}</a></li>
    <li><a href="{% url 'vhmadmin_package_list' %}">{% trans "Site packages" %}</a></li>
{% endblock %}

{% block useradmintoggle %}
    <li><a href="{% url 'vhmweb_index' %}">{% trans "Normal view" %}</a></li>
{% endblock %}