{% extends "vhmadmin/base.html" %}
{% load i18n %}

{% block content %}

<div class="col-md-6">
    <a class="huge-link" href="{% url 'vhmadmin_rent_list' %}">
        <div>
                <h3><i class="glyphicon glyphicon-time"></i> {% trans "Rents" %}</h3>
        </div>
    </a>
</div>
<div class="col-md-6">
    <a class="huge-link" href="{% url 'vhmadmin_user_list' %}">
        <div>
                <h3><i class="glyphicon glyphicon-user"></i> {% trans "Users" %}</h3>
        </div>
    </a>
</div>
<div class="col-md-6">
    <a class="huge-link" href="{% url 'vhmadmin_group_list' %}">
        <div>
                <h3><i class="glyphicon glyphicon-tags"></i> {% trans "Groups" %}</h3>
        </div>
    </a>
</div>
<div class="col-md-6">
    <a class="huge-link" href="{% url 'vhmadmin_vhost_list' %}">
        <div>
                <h3><i class="glyphicon glyphicon-cloud"></i> {% trans "VirtualHosts" %}</h3>
        </div>
    </a>
</div>
<div class="col-md-6">
    <a class="huge-link" href="{% url 'vhmadmin_package_list' %}">
        <div>
                <h3><i class="glyphicon glyphicon-folder-open"></i> {% trans "Site packages" %}</h3>
        </div>
    </a>
</div>

{% endblock %}