{% extends "vhmadmin/base.html" %}
{% load i18n %}

{% block body_title %}
<div class="page-header">
    <h1>{{ user_obj.display_name }}</h1>
</div>
{% endblock %}

{% block content %}

<p><b>{% trans "Username" %}:</b> {{ user_obj.name }}</p>
<p>
    <b>{% trans "Rent limit" %}:</b>
    {{ user_obj.get_max_vhosts }}
    {% if user_obj.max_vhosts == -1 %}({% trans "Default" %}){% endif %}
</p>
<p><b>{% trans "Administrator" %}:</b> {{ user_obj.admin|yesno }}</p>
<p><b>{% trans "Disabled" %}:</b> {{ user_obj.disabled|yesno }}</p>
<p><b>{% trans "Creation date" %}:</b> {{ user_obj.date_created }}</p>
<p><b>{% trans "Total rent count" %}:</b> {{ rents.count }}</p>
<p><b>{% trans "Active rent count" %}:</b> {{ rents_active }}</p>
<p><a href="{% url 'vhmadmin_user_edit' user_obj.pk %}" class="btn btn-sm btn-info">
    {% trans "Edit" %}
</a></p>

<h3 class="page-header">{% trans "Rents" %}</h3>

{% if rents.exists %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "VirtualHost" %}</th>
            <th>{% trans "Start date" %}</th>
            <th>{% trans "End date" %}</th>
            <th>{% trans "Site Package" %}</th>
            <th>{% trans "Status" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for r in rents %}
        <tr>
            <td><a href="{% url 'vhmadmin_vhost_detail' r.vhost.pk %}">
                {{ r.vhost.name }}
            </a></td>
            <td>{{ r.start_date }}</td>
            <td>{{ r.end_date }}</td>
            {% if r.package %}
            <td title="r.package.description">{{ r.package.name }}</td>
            {% else %}
            <td><i>{% trans "No package" %}</i></td>
            {% endif %}
            <td>{% trans r.get_status_display %}</td>
            <td>
                {% if r.status in r.STATUS_CURRENT %}
                <a class="btn btn-xs btn-danger" href="{% url 'vhmadmin_rent_cancel' r.pk %}">
                    {% trans "Cancel" %}
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<p>{% trans "No rents found." %}</p>

{% endif %}

{% endblock %}