{% extends "vhmadmin/base_list.html" %}
{% load i18n %}

{% block sidenav %}
    <li><a href="{% url 'vhmadmin_user_create' %}">{% trans "Create user" %}</a></li>
    <li><a href="{% url 'vhmadmin_user_group_create' %}">{% trans "Create users with namelist" %}</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% trans "Filter by status" %} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'vhmadmin_user_list' %}">
                {% trans "Any" %}
            </a></li>
            <li><a href="{% url 'vhmadmin_user_list' %}?filter_disabled=1">
                {% trans "Disabled" %}
            </a></li>
            <li><a href="{% url 'vhmadmin_user_list' %}?filter_disabled=0">
                {% trans "Not disabled" %}
            </a></li>
            <li><a href="{% url 'vhmadmin_user_list' %}?filter_admin=1">
                {% trans "Administrator" %}
            </a></li>
            <li><a href="{% url 'vhmadmin_user_list' %}?filter_admin=0">
                {% trans "Not administrator" %}
            </a></li>
        </ul>
    </li>
{% endblock %}

{% block list_content %}

{% if users.exists %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Display name" %}</th>
            <th>{% trans "Rent limit" %}</th>
            <th>{% trans "Administrator" %}</th>
            <th>{% trans "Disabled" %}</th>
            <th>{% trans "Creation date" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for u in users %}
        <tr>
            <td>{{ u.name }}</td>
            <td>{{ u.display_name }}</td>
            {% if u.max_vhosts > -1 %}
            <td>{{ u.max_vhosts }}</td>
            {% else %}
            <td><i>{% trans "Default" %}</i></td>
            {% endif %}
            <td>{{ u.admin|yesno }}</td>
            <td>{{ u.disabled|yesno }}</td>
            <td>{{ u.date_created }}</td>
            <td>
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown">
                    {% trans "Actions" %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'vhmadmin_user_detail' u.pk %}">
                        {% trans "View" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_user_edit' u.pk %}">
                        {% trans "Edit" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_user_edit_password' u.pk %}">
                        {% trans "Change password" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_user_delete' u.pk %}">
                        {% trans "Delete" %}
                    </a></li>
                </ul>
            </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<p>{% trans "No users found." %}</p>

{% endif %}

{% endblock %}