{% extends "vhmadmin/base.html" %}
{% load i18n %}

{% block content %}

{% if group.users.exists %}

<div class="col-md-6">
<div class="list-group">
{% for u in group.users.all|dictsort:"display_name" %}

    <a href="{% url 'vhmadmin_user_detail' u.pk %}" class="list-group-item">{{ u.display_name }}</a>

{% endfor %}
</div>
</div>

{% else %}

<p>
    {% trans "This group has no members." %}
    <a href="{% url 'vhmadmin_group_detail' group.pk %}">{% trans "Add members" %}</a>
</p>

{% endif %}

{% endblock %}