{% extends "vhmadmin/base.html" %}
{% load i18n %}

{% block content %}

<p>
    {% trans "Passwords have been generated successfully." %}
    {% trans "Here is a full list of users and passwords generated for them." %}
</p>

<pre>{{ pwgen_results }}</pre>

{% endblock %}