<!DOCTYPE html>
<html>

    <head>

        {% block title %}
            <title>{{ title }}</title>
        {% endblock %}

        <meta name="viewport" content="width=device-width, user-scalable=no">

        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <script src="/static/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css"/>
        <script src="/static/js/bootstrap-datetimepicker.min.js"></script>

        <link rel="stylesheet" href="/static/css/united.css"/>

        <link rel="stylesheet" href="/static/css/style.css"/>

    </head>

    <body>

        {% block content %}
        {% endblock %}

    </body>

</html>