{% extends "vhmweb/base.html" %}

{% block content %}

<div class="box">

    <form action="#" method="post">

        {% csrf_token %}

        {% for err in form.non_field_errors %}
            <div class="alert alert-danger">{{ err }}</div>
        {% endfor %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% for field in form.visible_fields %}

        {% for err in field.errors %}
            <div class="alert alert-danger">{{ err }}</div>
        {% endfor %}

        <div class="form-group">

            {{ field.label_tag }}
            {{ field }}

        </div>
        {% endfor %}

        <input class="btn btn-{{ submit_btn_type }}" type="submit" value="{{ submit_btn_text }}" />

    </form>

</div>

{% endblock %}