{% extends "vhmweb/base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-3">

        <ul class="nav sidenav">
        {% block sidenav %}
        {% endblock %}
        </ul>

    </div>

    <div class="col-md-9">

        {% block list_content %}
        {% endblock %}

    </div>

</div>

{% endblock %}