<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>

    <head>

        {% block title %}
            <title>{{ title }} - VhostManager</title>
        {% endblock %}

        <meta name="viewport" content="width=device-width, user-scalable=no">

        <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"/>
        <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'css/united.css' %}"/>

        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% block sitename %}
                    <a class="navbar-brand" href="{% url 'vhmweb_index' %}">
                        VhostManager
                    </a>
                    {% endblock %}
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">

                    <ul class="nav navbar-nav">
                    {% block topnav %}
                        <li><a href="{% url 'vhmweb_rent_list' %}">{% trans "Rents" %}</a></li>
                        <li><a href="{% url 'vhmweb_vhost_list' %}">{% trans "Virtual Hosts" %}</a></li>
                        <li><a href="{% url 'vhmweb_sitepackage_list' %}">{% trans "Site packages" %}</a></li>
                    {% endblock %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ user.display_name }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                            {% block useradmintoggle %}
                                {% if user.admin %}
                                <li><a href="{% url 'vhmadmin_index' %}">{% trans "Admin page" %}</a></li>
                                {% endif %}
                            {% endblock %}
                            {% block usermenu %}
                                <li><a href="{% url 'vhmweb_profile_view' %}">{% trans "View profile" %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'vhmweb_logout' %}">{% trans "Logout" %}</a></li>
                            {% endblock %}
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="container">

            {% block body_title %}
            <div class="page-header">
                <h1>{{ title }}</h1>
            </div>
            {% endblock %}

            {% for message in messages %}
            <div class="alert alert-dismissable alert-{{ message.tags }}">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ message }}
            </div>
            {% endfor %}

            {% block content %}
            {% endblock %}

        </div>

    </body>

</html>