{% extends "vhmweb/base.html" %}
{% load i18n %}

{% block body_title %}
<div class="page-header">
    <h1>{% trans "Welcome" %}, {{ user.display_name }}</h1>
</div>
{% endblock %}

{% block content %}

<div class="col-md-6">
    <a class="huge-link" href="{% url 'vhmweb_rent_list' %}">
        <div>
                <h3><i class="glyphicon glyphicon-time"></i> {% trans "Rents" %}</h3>
        </div>
    </a>
</div>
<div class="col-md-6">
    <a class="huge-link" href="{% url 'vhmweb_vhost_list' %}">
        <div>
            <h3><i class="glyphicon glyphicon-cloud"></i> {% trans "VirtualHosts" %}</h3>
        </div>
    </a>
</div>
<div class="col-md-6">
    <a class="huge-link" href="{% url 'vhmweb_profile_view' %}">
        <div>
            <h3><i class="glyphicon glyphicon-user"></i> {% trans "View profile" %}</h3>
        </div>
    </a>
</div>
<div class="col-md-6">
    <a class="huge-link" href="{% url 'vhmweb_sitepackage_list' %}">
        <div>
            <h3><i class="glyphicon glyphicon-folder-open"></i> {% trans "Site packages" %}</h3>
        </div>
    </a>
</div>
{% if user.admin %}
<div class="col-md-6">
    <a class="huge-link" href="{% url 'vhmadmin_index' %}">
        <div>
            <h3><i class="glyphicon glyphicon-briefcase"></i> {% trans "Admin page" %}</h3>
        </div>
    </a>
</div>
{% endif %}

{% endblock %}