{% extends "vhmweb/base_list.html" %}
{% load i18n %}

{% block sidenav %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% trans "Filter by status" %} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'vhmweb_vhost_list' %}">
                {% trans "Any" %}
            </a></li>
            <li><a href="{% url 'vhmweb_vhost_list' %}?view_rented=1">
                {% trans "Rented" %}
            </a></li>
            <li><a href="{% url 'vhmweb_vhost_list' %}?view_rented=0">
                {% trans "Not rented" %}
            </a></li>
        </ul>
    </li>
{% endblock %}

{% block list_content %}

{% if vhosts.exists %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Endpoint" %}</th>
            <th>{% trans "Options" %}</th>
            <th>{% trans "Override setting" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for vh in vhosts %}
        <tr>
            <td>{{ vh.name }}</td>
            <td>{{ vh.get_address_port }}</td>
            <td>{{ vh.options }}</td>
            <td>{{ vh.allow_override }}</td>
            <td class="table-button-row">
                <a class="btn btn-xs btn-default"
                   href="http://{{ host }}:{{ vh.port }}">{% trans "View site" %}</a>
                <a class="btn btn-xs btn-info"
                   href="{% url 'vhmweb_rent_create' %}?vhost={{ vh.id }}">{% trans "Rent" %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<p>{% trans "No VirtualHosts found." %}</p>

{% endif %}

{% endblock %}