{% extends "vhmweb/base.html" %}
{% load i18n %}

{% block content %}

<p>
    {% trans "Are you sure you want to cancel this rent?" %}
</p>

<form action="#" class="form-inline" method="post">
    {% csrf_token %}
    <input type="submit" value="{% trans 'Yes' %}" class="btn btn-success" />
    <a href="{% url 'vhmweb_rent_list' %}" class="btn btn-sm btn-danger">
        {% trans "No" %}
    </a>
</form>

{% endblock %}