{% extends "vhmweb/base_list.html" %}
{% load i18n %}

{% block sidenav %}
    <li><a href="{% url 'vhmweb_rent_create' %}">{% trans "New rent" %}</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% trans "Filter by status" %} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'vhmweb_rent_list' %}">
                {% trans "Any" %}
            </a></li>
            {% for sf in status_filters %}
            <li><a href="{% url 'vhmweb_rent_list' %}?status={{ sf|first }}">
                {{ sf|last }}
            </a></li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block list_content %}

{% if rents.exists %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "VirtualHost" %}</th>
            <th>{% trans "Start date" %}</th>
            <th>{% trans "End date" %}</th>
            <th>{% trans "Site Package" %}</th>
            <th>{% trans "Status" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for r in rents %}
        <tr>
            <td>{{ r.vhost.name }}</td>
            <td>{{ r.start_date }}</td>
            <td>{{ r.end_date }}</td>
            {% if r.package %}
            <td title="{{ r.package.description }}">{{ r.package.name }}</td>
            {% else %}
            <td><i>{% trans "No package" %}</i></td>
            {% endif %}
            <td>{% trans r.get_status_display %}</td>
            <td>
                {% if r.status in r.STATUS_CURRENT %}
                <a class="btn btn-xs btn-danger" href="{% url 'vhmweb_rent_cancel' r.pk %}">
                    {% trans "Cancel" %}
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<p>{% trans "No rents found." %}</p>

{% endif %}

{% endblock %}