{% extends "vhmweb/base.html" %}
{% load i18n %}

{% block content %}

<div class="row">

    <div class="col-md-3">

        <ul class="nav sidenav">
            <li><a href="{% url 'vhmweb_profile_edit_display_name' %}">
                {% trans "Change display name" %}
            </a></li>
            <li><a href="{% url 'vhmweb_profile_edit_password' %}">
                {% trans "Change password" %}
            </a></li>
        </ul>

    </div>

    <div class="col-md-9">

        {% for info in profile_info %}
        <div class="row">
            <div class="col-md-4">
                <b>{{ info|first }}:</b>
            </div>
            <div class="col-md-8">
                {{ info|last }}
            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}