{% extends "vhmadmin/base.html" %}
{% load i18n %}

{% block content %}

<p>
    {% trans "Are you sure you want to delete this site package?" %}
    <br/>
    <b>{% trans "Deleting site packages is not recommended, as renting history associated with them will change." %}</b>
</p>

<form action="#" class="form-inline" method="post">
    {% csrf_token %}
    <input type="submit" value="{% trans 'Yes' %}" class="btn btn-success" />
    <a href="{% url 'vhmadmin_package_list' %}" class="btn btn-sm btn-danger">
        {% trans "No" %}
    </a>
</form>

{% endblock %}