{% extends "vhmadmin/base_list.html" %}
{% load i18n %}

{% block sidenav %}
    <li><a href="{% url 'vhmadmin_package_create' %}">{% trans "Upload new package" %}</a></li>
{% endblock %}

{% block list_content %}

{% if packages.exists %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "File size" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for p in packages %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.package.size|filesizeformat }}</td>
            <td>
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown">
                    {% trans "Actions" %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'vhmadmin_package_update' p.pk %}"
                           title="{% trans 'Update the package with an new file.' %}">
                        {% trans "Update package" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_package_edit' p.pk %}">
                        {% trans "Edit" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_package_delete' p.pk %}">
                        {% trans "Delete" %}
                    </a></li>
                </ul>
            </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<p>{% trans "No rents found." %}</p>

{% endif %}

{% endblock %}