body {
    background-color: #F0F0F0;
}

/* Generic styles */

.page-header {
    margin-top: 20px;
}
h1 {
    font-size: 34px;
}

.box {
    width: 300px;
    margin: auto;
}

.container {
    max-width: 1000px;
}

.table-button-row {
    min-width: 25%;
    text-align: right;
    padding-right: 20px !important;
}

a.huge-link > div {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
a.huge-link > div:hover {
    background-color: #DDDDDD;
}
a.huge-link:hover {
    text-decoration: none;
}
a.huge-link .glyphicon {
    margin-right: 7px;
}
a.huge-link h3 {
    color: #000000;
    margin-top: 1px;
}

/* Specific styles */

body > .container {
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

body > .navbar {
    background-image: none;
}

.login-box {
    border: 1px solid #A0A0A0;
    background-color: #FFFFFF;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    width: 250px;
}
.login-box > .login-header {
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.login-box > .login-header > h2 {
    margin-top: 1px;
}
.login-box .alert {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidenav {
    background-color: #F0F0F0;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.sidenav > li > a {
    padding: 3px 10px;
}
.sidenav > li > a:hover {
    background-color: #E0E0E0;
}